_build/
arm4/
armgcc/
iar/
*.*
!*.txt
!*.py
!*.c
!*.h
!*.md
!*.uvguix
!*.uvoptx
!*.uvprojx
!*.s
!*.hex
!*.pdf
!*.gitignore
!*.emProject
!*.lib
JLinkLog.txt
!hex/*
nrf5-ble-mpu-app-twi-scheduler/
datasheets/
RTE/
*.uvguix
legacy/
dmp/
nrf5-mpu-simple-app-twi/